In [8]:
import pandas as pd

In [41]:
data_path = "D:\\Development\\aldiRoaster\\harvester\\services\\crawlers\\aldi_reviews.csv"

In [48]:
df = pd.read_csv(data_path)
df

,comment,posting_time,rating
0,Leider sind die Regale zu oft leer und die Ang...,2 days ago,NaN
1,"Es ist bei Aldi immer das gleiche , eine Ries...",6 days ago,Rated 2 out of 5 stars
2,Ich und mehrere Kunden haben daraufhin den Mar...,"Apr 16, 2024",Rated 1 out of 5 stars
3,1 Stern ist noch zuviel. Wollte eine Bestellun...,"Apr 15, 2024",Rated 1 out of 5 stars
4,Aldi im Bruch Bad Dürkheim.,"Apr 16, 2024",Rated 1 out of 5 stars
...,...,...,...
1873,Die Preise sind gut im Vergleich,"Jan 16, 2014",Rated 2 out of 5 stars
1874,"Ich war gestern abend In der Filiale "" wilhelm...","Jul 13, 2013",Rated 1 out of 5 stars
1875,"Sofort kam der Kassierer und beschimpfte sie, ...","Jun 21, 2013",Rated 1 out of 5 stars
1876,Bitten der Kundin einen neuen Träger und knall...,"Feb 18, 2012",Rated 4 out of 5 stars
1877,"Sehr, sehr unfreundliches Personal","Jun 20, 2011",Rated 1 out of 5 stars

In [ ]:
"""
    1. translate comments
    2. change rating as 1-5
    3. Lowercasing
    4. Tokenization
    5. Remove punctuation | special characters | stopwords
  ? 6. Lemmatization | Stemming
    7. Handle Contraction
    8. Spell Checking
    9. Remove whitespaceing
"""

In [ ]:
def translate():
    pass